/* common styles */

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

html{
    font-size: 62.5%;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* common section-heading style */
.section-heading{
    font-size: 5rem;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 15rem;
    border-bottom: .3rem solid green;
    text-shadow: 0.2rem 0.2rem 5rem grey ;

}
/* end of common styles */

/* section 1 */
.section-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.3)),
    url(images/bg1.jpeg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* to center flex items */
    justify-content: center;
    align-items: center;

}

.section-1-heading{
    font-size: 6rem;
    font-weight: 700;
    color: antiquewhite;
    background-color: black;
    padding: 0 3rem;
    margin-bottom: 5rem;
    /* transform text to uppercase */
    text-transform: uppercase;
    letter-spacing: 1rem;
    /* border at bottom of heading */
    border-bottom: .3rem solid white;
    text-shadow: .2rem .2rem 1rem #555;
    transform: skew(-10deg);
}

.person-img{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    /* border, style(dotted), color */
    border: 0.7rem dotted black;
    padding: 0.5rem;
    opacity: 0.9rem;
}

.person-name{
    font-size: 2rem;
    color: whitesmoke;
    margin: 5rem 0;
    padding: 0.5rem 3rem;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
}

.section-1-btn{
    font-size: 1.7rem;
    font-weight: 700;
    color: black;
    background-color:blue;
    border: .3rem solid blue;
    padding: 1rem 1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    
}
/* end section 1 */



/* navbar */

.navbar{
    width: 100%;
    height: 4rem;
    background-color: black;
    box-shadow: .2rem .2rem .5rem;
    position: relative;
}

.navbar-link{
    font-size: 1.7rem;
    font-weight: 600;
    margin: 0 3rem;
    color: #555;
    letter-spacing: .3rem;
    text-transform: uppercase;
    position: relative;
    transition: color 0.2s;
}

/* create underscore line */
.navbar-link::before{
    content: "";
    width: 0;
    height: 0.2rem;
    background-color: aliceblue;
    position: absolute;
    right: -15%;
    bottom: -0.3rem;
    transition: width 0.2rem;
}

/* create hover effects */
.navbar-link:hover::before{
    width: 130%;
}

.navbar-link:hover{
    color: aliceblue;
}

/* end of navbar */

/* Section 2 */
.section-2{
    width: 100%;
    height: 100%;
    padding: 15rem 0 10rem 0;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.progress-bars-wrapper{
    margin-bottom: 10rem;
}

.progress-bar{
    width: 60rem;
    height: 3rem;
    background-color: goldenrod;
    margin: 1.5rem 0;
    border-radius: .3rem;
    box-shadow: .2rem .2rem 1rem green ;
    /* related to parent element */
    position: relative;
}

.progress-text{
    position: absolute;
    left: 1rem;
    font-size: 1.5rem;
    /* color - optional */
}

/* for progress-text child */
.span{
    margin:0 0.5rem;
    font-size: 2rem;
    font-weight: 700;
}

/* will using JS for precise percentage */
.progress-percent{
    width: 90%;
    height: 100%;
    background-color: aqua;
}

.services{
    width: 100%;
    height: 30vh;
    /* place horizontally */
    display: flex;
    /* create even space between item */
    justify-content: space-evenly;
    align-items: center;
}

.service{
    /* place element at center */
    text-align: center;
}

/* child tag for <div>.service element */
.service i{
    font-size: 10rem;
    color: yellowgreen;
    margin-bottom:  2rem;
    /* 3d shadow og the icon */
    text-shadow: .1rem .1rem .5rem red;
}

.service h2{
    font-size: 2rem;
    color: yellowgreen;
    background-color: whitesmoke;
    width: 25rem;
    letter-spacing: 0.3rem;
    transform: skew(-10deg);
    box-shadow: .2rem .2rem .5rem green;
}

/* change position of the icons */
.service:first-child,
.service:last-child{
    align-self: flex-start;
}

/* end of Section 2 */

/* section 3 */
.section-3 {
    width: 100%;
    height: 100%;
    /* create space inside section */
    padding: 10rem 0;
    background-color: azure;
    display: flex;
    /* change direction */
    flex-direction: column;
    align-items: center;
}

.project-wrapper{
    width: 80%;
    /* place project into the center */
    /* place side by side */
    flex-wrap: wrap;

}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* create space between project */
    margin: 1rem;
    background-color: whitesmoke;
    box-shadow: .3rem .3rem .5rem #777;
    /* parent */
    position: relative;
    /* hide the content by default */
    overflow: hidden;
    transition: box-shadow 0.5s;
}

/* create shadow effect with hover */
.project:hover{
    box-shadow: 1rem 1rem 1rem orange;
}

.project-text{
    text-align: center;
    letter-spacing: 0.1rem;
    /* child */
    position: absolute;
    top: -10rem;
    transition: top 0.3s;
    z-index: 10;
}

.project:hover .project-text{
    top: 5rem;
    /* delay time */
    transition: top .3s .3s;
}

.project-name{
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 700;
    color: black;
}

.project-technologies{
    font-size: 1.8rem;
    color: grey;
}

.project-img{
    width: 40rem;
    transition: opacity .3s;
}

/* create opacity of the image */
project:hover .project-img{
    opacity: .2;
}

.project-link{
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    letter-spacing: 0.1rem;
    border: .3rem solid orange;
    padding: 0 1rem;
    background-color: whitesmoke;
    /* change position */
    position: absolute;
    bottom: -5rem;
    transition: bottom .3s;
}

.project:hover .project-link{
    bottom: 5rem;
    transition: bottom .3s .3s;
}


/* end of section 3 */

/* section 4 */
.section-4{
    width: 100%;
    height: 70vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section-4-heading{
    color: white;
    box-shadow: none;
    border-color: orange;
}

.contact-form{
    width: 50rem;
    flex-direction: column;

}

.contact-form input, textarea{
    width: 100%;
    padding: .5rem;
    margin: .5rem 0;
    background-color: wheat;
    font-size: 1.5rem;
    border: .3rem solid olive;
    color: green;
}

.contact-form textarea{
    height: 10rem;
    max-height: 15rem;
    max-width: 100%;
}

.contact-form .contact-form-btn{
    background-color: olive;
    color: wheat;
    text-transform: uppercase;
    letter-spacing: 3rem;
}
/* end of section 4 */